{% extends "layout.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name }}
        </div>
        <div>
            {{ form.student_number.label }}<br>
            {{ form.student_number }}
            {% for error in form.student_number.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.first_course_choice.label }}<br>
            {{ form.first_course_choice() }}
            {% for error in form.first_course_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.second_course_choice.label }}<br>
            {{ form.second_course_choice() }}
            {% for error in form.second_course_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.third_course_choice.label }}<br>
            {{ form.third_course_choice() }}
            {% for error in form.third_course_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.fourth_course_choice.label }}<br>
            {{ form.fourth_course_choice() }}
            {% for error in form.fourth_course_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.fifth_course_choice.label }}<br>
            {{ form.fifth_course_choice() }}
            {% for error in form.fifth_course_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
