{% extends 'layout.html' %}
{% block content %}
  <div style="max-width: 600px; margin: 10px auto 0; text-align: center; padding: 50px;">
    <h3 style="font-weight: bold">Welcome to Course Selection!</h3>
    <p style="margin-bottom: 20px;">Here you will be able to register your preferences and check the final assignments once all students and faculty have registered.</p>
    <p style="margin-bottom: 20px;">Are you a student or a supervisor?</p>
    <div style="margin-bottom: 40px;">
      <a href="{{ url_for('studentform') }}" class="btn btn-primary" style="background-color: black; border: none; font-weight: bold;">Student</a>
      <span style="margin: 0 10px;"></span>
      <a href="{{ url_for('supervisorform') }}" class="btn btn-primary" style="background-color: black; border: none; font-weight: bold;">Supervisor</a>
    </div>
    <p>Did you already submit your preferences?</p>
    <p>Check out your allocation here:</p>
    <div style="margin-top: 20px;">
      <a href="{{ url_for('match') }}" class="btn btn-primary" style="background-color: black; border: none; font-weight: bold;">Find your course</a>
    </div>
    {% for post in posts %}
      <div class="article">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
