{% extends "layout.html" %}
{% block content %}
<div style="max-width: 500px; margin: 0 auto;">
    <h1 style="text-align: center; font-weight: bold; font-size: 1.5em; margin-bottom: 20px;">{{ title }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}

        <!-- Supervisor Field -->
        <div>
            {{ form.supervisor.label }}<br>
            {{ form.supervisor(class="form-control") }}
            {% if form.supervisor.errors %}
                <span style="color: red;">{{ form.supervisor.errors[0] }}</span><br>
            {% endif %}
        </div>

        <!-- Course Field -->
        <div>
            {{ form.course.label }}<br>
            {{ form.course(class="form-control") }}
            {% if form.course.errors %}
                <span style="color: red;">{{ form.course.errors[0] }}</span><br>
            {% endif %}
        </div>

        <!-- Capacity Field -->
        {% if form.capacity %}
        <div>
            {{ form.capacity.label }}<br>
            {{ form.capacity(class="form-control") }}
            {% if form.capacity.errors %}
                <span style="color: red;">{{ form.capacity.errors[0] }}</span><br>
            {% endif %}
        </div>
        {% endif %}

        <!-- Student Choice Fields -->
        {% for field in [form.first_student_choice, form.second_student_choice, form.third_student_choice, form.fourth_student_choice, form.fifth_student_choice] %}
        <div>
            {{ field.label }}<br>
            {{ field(class="form-control") }}
            {% if field.errors %}
                <span style="color: red;">{{ field.errors[0] }}</span><br>
            {% endif %}
        </div>
        {% endfor %}

        <!-- Submit Button -->
        <div style="text-align: center;">
            {{ form.submit(class="btn btn-primary mt-3") }}
        </div>
    </form>
</div>
{% endblock %}
