{% extends "layout.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.supervisor.label }}<br>
            {{ form.supervisor }}
            {% for error in form.supervisor.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.course.label }}<br>
            {{ form.course }}
            {% for error in form.course.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.first_student_choice.label }}<br>
            {{ form.first_student_choice() }}
            {% for error in form.first_student_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.second_student_choice.label }}<br>
            {{ form.second_student_choice() }}
            {% for error in form.second_student_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.third_student_choice.label }}<br>
            {{ form.third_student_choice() }}
            {% for error in form.third_student_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.fourth_student_choice.label }}<br>
            {{ form.fourth_student_choice() }}
            {% for error in form.fourth_student_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div>
            {{ form.fifth_student_choice.label }}<br>
            {{ form.fifth_student_choice() }}
            {% for error in form.fifth_student_choice.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary mt-3") }}
        </div>
    </form>
{% endblock %}
