{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}</h1>
<form method="post">
    {{ form.hidden_tag() }} <!-- CSRF protection token -->
    <div>
        {{ form.supervisor.label }}<br>
        {{ form.supervisor(size=32) }}
        {% for error in form.supervisor.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.course.label }}<br>
        {{ form.course() }}
        {% for error in form.course.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>

    <!-- Render fields for student choices -->
    {% for field in [form.first_student_choice, form.second_student_choice, form.third_student_choice, form.fourth_student_choice, form.fifth_student_choice] %}
    <div>
        {{ field.label }}<br>
        {{ field() }}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    {% endfor %}

    <div>
        {{ form.capacity.label }}<br>
        {{ form.capacity(size=5) }} 
        {% for error in form.capacity.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary mt-3") }}
    </div>
</form>
{% endblock %}
