{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}</h1>
<p>Current configuration: {{ current_configuration }}</p>
<form method="post">
    {{ form.hidden_tag() }} 
    <div>
        {{ form.supervisor.label }}<br>
        {{ form.supervisor(size=32) }}
        {% for error in form.supervisor.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.course.label }}<br>
        {{ form.course() }}
        {% for error in form.course.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    
    <!-- Using Jinja for dynamic field adjustment-->
    <!-- Dynamic student ranking: All choices exist in all configurations  -->
    {% for field in form.student_choices %}
    <div>
        {{ field.label }}<br>
        {{ field() }}
        {% for error in field.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
    </div>
    {% endfor %}

    <!-- Dynamic adjustment: capacity field for limited capacity configuration  -->
    {% if configuration == 'limited_capacity' %}
        {# Render fields for limited_capacity, include capacity field #}
        <div>
            {{ form.capacity.label }}<br>
            {{ form.capacity() }}
            {% for error in form.capacity.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form.submit(class="btn btn-primary mt-3") }}
    </div>
</form>
{% endblock %}
